<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- set viewport to device width to make site responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap css -->
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- custom styles -->
		<link rel="stylesheet" type="text/css" href="main.css">

		 <title>Socket.IO chat</title>
	</head>	
	<body>
		<h1>Socket chat</h1>

		<!-- list of messages -->
		<ul id="messages"></ul>

		<!-- form to send a new message -->
		<form id="send-msg">
			<input type="text" id="new-msg" placeholder="Your message" autofocus required>
			<input type="submit" value="Send">
		</form>	

		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- bootstrap js -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<!-- socket.io -->
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>

		<!-- custom script -->
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>		